.Dictionary {
  background-color: aquamarine;
  text-align: center;
}

.Dictionary section {
  background-color: rgb(90, 200, 114);
  padding: 30px;
  border-radius: 16px 5px;
  box-shadow: 0 10px 10px;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
}
